<input type="checkbox" id="nav-toggle">

<div class="sidebar">
  <div class="sidebar-brand">
    <h2>
      <span class="las la-link"></span>
      <!-- <span><img src="https://img.icons8.com/ios-filled/35/000000/cloud-sync--v1.png"/></span> -->
      <span>Insync</span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a routerLink="/regions" ><span class="las la-igloo"></span>
          <span>Regions</span></a>
      </li>
      <li>
        <a routerLink="/"><span class="las la-users"></span>
          <span>Countries</span></a>
      </li>
      <li>
        <a href="" routerLink="/locations"><span class="las la-clipboard-list"></span>
          <span>Locations</span></a>
      </li>
      <li>
        <a href="" routerLink="/departments"><span class="las la-shopping-bag"></span>
          <span>Departments</span></a>
      </li>
      <li>
        <a href="" routerLink="/jobs" class="active"><span class="las la-receipt"></span>
          <span>Jobs</span></a>
      </li>
      <li>
        <a href="" routerLink="/employees"><span class="las la-user-circle"></span>
          <span>Employees</span></a>
      </li>
      <li>
        <a href="" routerLink="/jobHistory"><span class="las la-clipboard-list"></span>
          <span>Job History</span></a>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>

      Welcome Admin!
    </h2>

    <div class="search-wrapper">
      <button type="submit" (click)="submitGetJobById()" style="background: none; border: none; text-align: center; justify-content: center;">
        <span class="las la-search"></span>
      </button>
      <!-- <span class="las la-search"></span> -->
      <input type="search" placeholder="Search Job by ID..." (change) = "getJobByIdMethod($event)">
    </div>

    <div class="user-wrapper">
      <img src="assets/user4.png" width="47px" height="47px" alt="user icon">
      <div>
        <h4>Yash Gautam</h4>
        <small>Admin</small>
      </div>
    </div>
  </header>

  <main>
    <div class="getCountries">
      <button type="button" class = "add" data-bs-toggle="modal" data-bs-target="#exampleModalToggle4"> Get Employees in Job <span class="las la-arrow-right"></span></button>
   </div>

   <div class="cards">
     <div class="card-single" *ngFor="let item of employeesinJobData">
       <div>
          <h3>{{item.Job_id}}</h3>
         <span>{{item.First_Name + " " + item.Last_Name}}</span>
       </div>
       <div>
         <span class="las la-users"></span>
       </div>
     </div>
   </div>


    <div class="recent-grid">
      <div class="projects">
        <div class="card1">
          <div class="card-header1">
            <h3>Jobs</h3>

            <button type="button" class="add" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"> Add Job <span class="las la-plus"></span></button>
            <button type="button" class = "update" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2">Update Job <span class="las la-upload"></span></button>
            <button type="button" class = "delete" data-bs-toggle="modal" data-bs-target="#exampleModalToggle3">Delete Job <span class="las la-minus"></span></button>
          </div>

          <div class="card-body1">
            <div class="table-responsive">
              <table width = "100%">
                <thead>
                  <tr>
                    <td>Job Title</td>
                    <td>Job ID</td>
                    <td>Max Salary</td>
                    <td>Min Salary</td>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let item of jobByIdData" class="getRegionByIdRow">
                    <td>{{item.Job_Title}}</td>
                    <td>
                      <span class=""></span>
                      {{item.Job_Id}}
                    </td>
                    <td>{{item.Max_Salary}}</td>
                    <td>{{item.Min_Salary}}</td>
                  </tr>

                  <tr *ngFor="let item of jobDetailsList">
                    <td>{{item.Job_Title}}</td>
                    <td>
                      <span class=""></span>
                      {{item.Job_Id}}
                    </td>
                    <td>{{item.Max_Salary}}</td>
                    <td>{{item.Min_Salary}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="customers">
        <div class="card1">
          <div class="card-header1">
            <h3>Our Employees</h3>

            <button> Add Employee <span class="las la-plus"></span></button>
          </div>

          <div class="card-body1">
            <div class="customer" *ngFor="let item of employeeList">
              <div class="info">
                <img src="assets/user3.gif" width="40px" height="40px" alt="profile icon">
                <div>
                  <h4>{{item.First_Name + " " + item.Last_Name}}</h4>
                  <small>{{item.Job_id}}</small>
                </div>
              </div>
              <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>

  </main>
</div>



<!-- Modal code -->

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
          <h2>Add Job</h2>
          <div class="form-element">
            <label for="jobId">Job Id</label>
            <input type="text" id="jobId" placeholder="Enter Job Id" (change) = "getJobId($event)">
          </div>
          <div class="form-element">
            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" placeholder="Enter Job Title" (change) = "getJobTitle($event)">
          </div>
          <div class="form-element">
            <label for="jobMaxSalary">Max Salary</label>
            <input type="text" id="jobMaxSalary" placeholder="Enter Max Salary" (change) = "getJobMaxSalary($event)">
          </div>
          <div class="form-element">
            <label for="jobMinSalary">Min Salary</label>
            <input type="text" id="jobMinSalary" placeholder="Enter Min Salary" (change) = "getJobMinSalary($event)">
          </div>
          <div class="form-element">
            <label for="jobDepartmentId">Department Id</label>
            <input type="text" id="jobDepartmentId" placeholder="Enter Department Id" (change) = "getJobDepartmentId($event)">
          </div>

          <div class="form-element mt-5">
            <button type="submit" (click)="submitJobData()">Add Job</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2"></h5>

      </div> -->
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
        <div class="form">
          <h2>Update Job</h2>
          <div class="form-element">
            <label for="existingJobTitle">Existing Job Title</label>
            <input type="text" id="existingJobTitle" placeholder="Enter Existing Job Title" (change) = "getExistingJobTitle($event)">
          </div>
          <div class="form-element">
            <label for="newJobId">New Job Id</label>
            <input type="text" id="newJobId" placeholder="Enter New Job Id" (change) = "getNewJobId($event)">
          </div>
          <div class="form-element">
            <label for="newJobTitle">New Job Title</label>
            <input type="text" id="newJobTitle" placeholder="Enter New Job Title" (change) = "getNewJobTitle($event)">
          </div>
          <div class="form-element">
            <label for="newMinSalary">New Min Salary</label>
            <input type="text" id="newMinSalary" placeholder="Enter New Min Salary" (change) = "getNewJobMinSalary($event)">
          <div class="form-element">
            <label for="newMaxSalary">New Max Salary</label>
            <input type="text" id="newMaxSalary" placeholder="Enter New Max Salary" (change) = "getNewJobMaxSalary($event)">
          </div>
          </div>
          <div class="form-element mt-5">
            <button type="submit" (click)="submitUpdatedJobData()">Update Job</button>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel3"></h5>

      </div> -->
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
        <div class="form">
          <h2>Delete Job</h2>
          <div class="form-element">
            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" placeholder="Enter Job Title" (change) = "getJobTitle($event)">
          </div>
          <div class="form-element mt-5">
            <button type="submit" (click)="submitJobDataToDelete()">Delete Job</button>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel4"></h5>

      </div> -->
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
        <div class="form">
          <h2>Get Employees in Job</h2>
          <div class="form-element">
            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" placeholder="Enter Job Title" (change) = "getJobTitle($event)">
          </div>
          <div class="form-element mt-5">
            <button type="submit" (click)="submitJobDataToDisplayEmployees()">Display Employees</button>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>

