@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

:root{
  /* --main-color: #dd2f6e; */
  --main-color: #e4d96f;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}








/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}


.sidebar{
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebarRight{
  width: 270px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brandRight{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-brandRight span{
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu{
  margin-top: 1rem;
}

.sidebar-menuRight{
  margin-top: 1rem;
}

.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
  text-decoration: none;
}

.sidebar-menuRight li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
  text-decoration: none;
}

.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.sidebar-menuRight a{
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.sidebar-menu a.active{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menuRight a.active{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}


.sidebar-menuRight a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}

/* NAV TOGGLE THINGS */

#nav-toggle:checked + .sidebar,
#nav-toggle:checked + .sidebarRight{
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li{
  padding-left: 1rem;
  text-align: center;
}

/* #nav-toggle:checked + .sidebarRight .sidebar-brand,
#nav-toggle:checked + .sidebarRight li{
  padding-left: 1rem;
  text-align: center;
} */

#nav-toggle:checked + .sidebar li a{
  padding-left: 0rem;
}

/* #nav-toggle:checked + .sidebarRight li a{
  padding-left: 0rem;
} */

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
  display: none;
}

/* #nav-toggle:checked + .sidebarRight .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebarRight li a span:last-child{
  display: none;
} */

#nav-toggle:checked ~ .main-content{
  margin-left: 70px;
  /* margin-right: 70px !important; */
}

#nav-toggle:checked ~ .main-content header{
  width: calc(100% - 140px);
  left: 70px;
  right: 70px !important;
}


/* NAV TOGGLE THINGS END*/



/* NAV SIDEBARRIGHT TOGGLE THINGS */

#nav-toggle:checked + .sidebarRight{
  width: 70px;
}

#nav-toggle:checked + .sidebarRight .sidebar-brandRight,
#nav-toggle:checked + .sidebarRight li{
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebarRight li a{
  padding-left: 0rem;
}

#nav-toggle:checked + .sidebarRight .sidebar-brandRight h2 span:last-child,
#nav-toggle:checked + .sidebarRight li a span:last-child{
  display: none;
}

#nav-toggle:checked ~ .main-content{
  margin-right: 70px ;
}

#nav-toggle:checked ~ .main-content header{
  /* width: calc(100% - 70px) ; */
  right: 70px;
}


/* NAV TOGGLE THINGS END*/




#nav-toggle1:checked + .sidebarRight{
  width: 70px;
}

#nav-toggle1:checked + .sidebarRight .sidebar-brandRight,
#nav-toggle1:checked + .sidebarRight li{
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle1:checked + .sidebarRight li a{
  padding-left: 0rem;
}

#nav-toggle1:checked + .sidebarRight .sidebar-brandRight h2 span:last-child,
#nav-toggle1:checked + .sidebarRight li a span:last-child{
  display: none !important;
}

#nav-toggle1:checked ~ .main-content{
  margin-right: 70px ;
}

#nav-toggle1:checked ~ .main-content header{
  width: calc(100% - 70px) ;
  right: 70px;
}


.main-content{
  transition: margin-left 300ms;
  margin-left: 270px;
  transition: margin-right 300ms;
  margin-right: 270px;
}

/* .main-content{
  transition: margin-right 300ms;
  margin-right: 270px;
} */

header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  left: 270px;
  right: 270px;
  /* width: calc(100% - 270px); */
  top: 0;
  z-index: 100;
  transition: left 300ms;
  transition: right 300ms;
}

#nav-toggle{
  display: none;
}

header h2{
  color: #222;
}

header label span.toggleLeft{
  font-size: 1.7rem;
  padding-right: 1rem;
}

header label span.toggleRight{
  margin-right: 20rem;
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper{
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input{
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper{
  display: flex;
  align-items: center;
  /* margin-right: 1rem; */
}

.user-wrapper img{
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper small{
  display: inline-block;
  color: var(--text-grey);
}

main{
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
  margin-top: 2.1rem;
  border-radius: 9%;
  /* margin-left: -10.7rem; */
  margin-right: 1rem;
}

.card-single div:last-child span{
  padding-top: .95rem;
  font-size: 2.3rem;
  color: var(--main-color);
}

/* .card-single{

} */

.card-single div:first-child span{
  color: var(--text-grey);
}


/* .card-single:last-child{
  background: var(--main-color);
} */

/* .card-single:last-child h3,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
  color: #fff;
} */



/* FORM CODE */

/*
.form-collection{
  width: 350px;
  height: 350px;
}

.limit-width{
  width: 300px;
}

.absolute-footer{
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 27.2px;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 15px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.form-collection{
  z-index: 2;
}

.card{
  font-family: "Open Sans", sans-serif;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.card-body{
  padding: 20px;
}

.box-btn{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  border-radius: 3px;
}

.box-btn:hover{
  background: rgba(0, 0, 0, 0.06)
}

.box-btn.active{
  background: rgba(0, 0, 0, 0.1)
}

.input-group{
  border: 2px solid #eee;
  position: relative;
  background: #eee;
  margin: 25px 0;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}
.input-group input{
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.input-group label{
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 10px;
    font-weight: 500;
    color: #aaa;
}

.card-footer button{
  width: 100%;
  padding: 25px;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background: #4CAF50;
  border: none;
  color: #fff;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.above{
  z-index: 1;
}

.below{
  z-index: 0;
}

.turned{
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.sign-up-card, .log-in-card{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sign-up-card.turned{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.8" /></filter></svg>#filter');
  -webkit-filter: blur(0.8px);
  filter: blur(0.8px);
  -webkit-filter: blur(0.8px);
  -webkit-transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
  transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.log-in-card.turned{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
  -webkit-filter: blur(1px);
  filter: blur(1px);
  webkit-filter: blur(1px);
  -webkit-transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
  transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.animation-state-1 .sign-up-card.below{
    -webkit-transform: rotateZ(-7deg) translateY(150px) scale(0.78);
    transform: rotateZ(-7deg) translateY(150px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.4" /></filter></svg>#filter');
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
    -webkit-filter: blur(0.4px);
}
.animation-state-1  .log-in-card.above{
    -webkit-transform: rotateZ(-83deg) translateY(-180px) translateX(100px) scale(0.78);
    transform: rotateZ(-83deg) translateY(-180px) translateX(100px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.5" /></filter></svg>#filter');
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}

.animation-state-finish .sign-up-card.above{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotateZ(5deg) translateY(0px) scale(1);
    transform: rotateZ(5deg) translateY(0px) scale(1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-filter: blur(0);
}
.animation-state-finish  .log-in-card.below{
    -webkit-transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: blur(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.animation-state-1 .log-in-card.below{
    -webkit-transform: rotateZ(-10deg) translateY(180px) scale(0.78);
    transform: rotateZ(-10deg) translateY(180px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.5" /></filter></svg>#filter');
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    webkit-filter: blur(0.5px);
}
.animation-state-1   .sign-up-card.above{
    -webkit-transform: rotateZ(-80deg) translateY(-170px) translateX(100px) scale(0.78);
    transform: rotateZ(-80deg) translateY(-170px) translateX(100px) scale(0.78);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.4" /></filter></svg>#filter');
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
    -webkit-filter: blur(0.4px);
}

.animation-state-finish .log-in-card.above{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotateZ(5deg) translateY(0px) scale(1);
    transform: rotateZ(5deg) translateY(0px) scale(1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-filter: blur(0);
}
.animation-state-finish  .sign-up-card.below{
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0.4" /></filter></svg>#filter');
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
    -webkit-filter: blur(0.4px);
    -webkit-transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
} */


/* TABLE COMPONENT */

.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% auto;
}

.card1{
  background: #fff;
  border-radius: 5px;
}

.card-header1{
  padding: 1rem;
}

.card-header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header1 button{
  background: var(--main-color);
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  font-size: 0.67rem;
  padding: .5rem 1rem;
  /* border: 1px solid var(--main-color); */
  border: none;
}



.card-header1 button.add{
  background: #0c7c3d;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  margin-left: 13.7rem;
  float: right;
  }

.card-header1 button.update{
  background: #ee992b;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  float: right;
  }

.card-header1 button.delete{
  background: #db2777;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  float: right;
  }


table{
  border-collapse: collapse;
}

thead tr{
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

thead td{
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

td .status{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}

tr td:last-child{
  display: flex;
  align-items: center;
}

.status.purple{
  background: rebeccapurple;
}

.status.pink{
  background: deeppink;
}

.status.orange{
  background: orangered;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}

/* NEW DATA */


.getCountries button{
  background: var(--main-color);
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  font-size: 0.67rem;
  padding: .5rem 1rem;
  /* border: 1px solid var(--main-color); */
  border: none;
}

.getCountries button.add{
  background: var(--main-color);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  /* margin-left: .7rem; */
  float: left;
  }

.table-responsive tr.getRegionByIdRow{
  /* background: #fffcec; */
  /* background-color: var(--main-color); */
  /* background-color: #eec46b; */
  background-color: #ffffff;
  border-radius: 50%;
}

.table-responsive tr.getRegionByIdRow td{
  font-weight: 700;
  font-size: 1.12rem;
  font-family: 'El Messiri', sans-serif;

  /* color: #ce1266; */
  color: #000;
}

.card-header1 h3{
  /* text-decoration: dashed; */
  font-size: 1.225rem;
  margin: .4rem 2.5rem .1rem .1rem;
  font-weight: 700;
}

/* NEW DATA ENDS */

.customer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}

.info{
  display: flex;
  align-items: center;
}

.info img{
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4{
  font-size: .8rem;
  font-weight: 700;
  color: #222;
}

.info small{
  font-weight: 600;
  color: var(--text-grey);
}

.contact span{
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
  color: var(--main-color);
}

.contact span:hover{
  cursor: pointer;
}


/* MODAL CSS */
 .form h2{
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

 .form .form-element{
  margin: 15px 0px;
}

 .form .form-element label{
  font-size: 14px;
  color: #222;
}

 .form .form-element input[type="text"],
 .form .form-element input[type="password"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

 .form .form-element input[type="checkbox"] .checkbox1{
  margin-right: 5px;
}

.form .form-element input[type="checkbox"] .checkbox2{
  margin-left: 5px;
}

 .form .form-element button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

 .form .form-element a{
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

/* SLICK CAROUSEL */

.movie{
  margin: 20px 0;
}

.movie .movie__images .thumbnails .carousel{
  width:100%;
  display: flex;
}

.movie .movie__images .thumbnails .carousel .slick-item{
  transition: all 0.3s ease;
}

.movie .movie__images .thumbnails .carousel .slick-item:hover{
  transform: scale(1.02);
  cursor: pointer;
}

/* TYPEWRITING ANIMATION */

.typewriter td p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1200px){
  .sidebar{
    width: 70px;
  }

  .sidebar .sidebar-brand,
  .sidebar li{
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar li a{
    padding-left: 0rem;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child{
    display: none;
  }

  .main-content{
    margin-left: 70px;
    margin-right: 70px;
  }

  .main-content header{
    width: calc(100% - 70px);
    left: 70px;
    right: 70px;
  }
}

@media only screen and (max-width: 960px){
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }

  .recent-grid{
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 768px){
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid{
    grid-template-columns: 100%;
  }

  .search-wrapper{
    display: none;
  }

  .sidebar{
    left: -100% !important;
  }

  header h2{
    display: flex;
    align-items: center;
  }

  header h2 label{
    display: inline-block;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }

  header h2 span{
    text-align: center;
    padding-right: 0rem;
  }

  header h2{
    font-size: 1.1rem;
  }

  .main-content{
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  header{
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
  }

  #nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 270px;
  }

  #nav-toggle:checked + .sidebarRight{
    right: 0 !important;
    z-index: 100;
    width: 270px;
  }

  /* #nav-toggle:checked + .sidebar:hover{
    width: 270px;
    z-index: 200;
  } */

  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li{
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked + .sidebar li a{
    padding-left: 1rem;
  }

  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;
  }

  #nav-toggle:checked ~ .main-content{
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
}






/* #nav-toggle1:checked + .sidebarRight .sidebar-brand,
  #nav-toggle1:checked + .sidebarRight li{
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle1:checked + .sidebarRight li a{
    padding-left: 1rem;
  }

  #nav-toggle1:checked + .sidebarRight .sidebar-brand h2 span:last-child,
  #nav-toggle1:checked + .sidebarRight li a span:last-child{
    display: inline;
  }

  #nav-toggle1:checked ~ .main-content{
    margin-left: 0rem !important;
  } */


@media only screen and (max-width: 560px){
  .cards{
    grid-template-columns: 100%;
  }
}



