h2 {
  font-size: x-large;
  color: white;
}

img {
  border-radius: 5px;
}

.movie{
  margin: 20px 0;
}

.movie .movie__images .thumbnails .carousel{
  width:100%;
  display: flex;
}

.movie .movie__images .thumbnails .carousel .slick-item{
  transition: all 0.3s ease;
}

.movie .movie__images .thumbnails .carousel .slick-item:hover{
  transform: scale(1.02);
  cursor: pointer;
}
